bin/
etc/
doc/
*.bat
*.DS_Store
scenarios/Barnim
scenarios/Harlem
scenarios/Highway
scenarios/LuST
scenarios/Tiergarten
scenarios/Tutorial2*
simrun*
systemInfo.txt
*.lcs
vsimrti.*
common.sh
firstStart.sh
scenarios/120_Lasalle/Lasalle120-2.jar
scenarios/120_Lasalle/Lasalle120-Weather.jar